/* Edited with EditCSS */
/**** LINK-tag style sheet style.css ****/

.clear { line-height: 0; font-size: 0; clear:both; margin:0; padding:0; height: 1px; }

img, div { behavior: url(iepngfix.htc) }

a:link {
	color:#10222B;
}

a:visited {
	color:#10222B;
}

body{
	font-family:arial;
	padding:0px;
	margin:0px;
	background-color:#F6FFE0;
}

.whole{
	margin:auto;
	width:1200px;
	position:relative;
	padding-top:20px;
	
}



.sortList{
	list-style:none;
	margin:0px;
	padding:0px;
}

.sortList li a{
	width:200px;
}	
.sortList li {
	padding:2px;
	margin:1px 0 1px 0;
	border:1px solid #ccc;
	width:200px;
	background:#f0f0ee;
}

.menu{
	list-style:none;
	clear:both;
padding:0px;
width:200px;
float:left;

}


.menu li{
	width:150px;
	padding:10px;
	text-align:left;
}

.menuTitle{
	font-weight:bold;
	border-bottom:2px solid #10222B;
}

.menuon{
	background:#10222B;
	font-weight:bold;
}
.menuon a:visited {
	color:#E2F0D6;
}
.menuon a:link {
	color:#E2F0D6;
}
.adminMSG{
	text-align:center; 
	padding:20px; 
	width:1090px; 
	background-color:#b1ffad; 
	border:1px solid #0acd00;
	float:left;
	margin:10px 0 10px 0;
}
.adminMSGBad{
	text-align:center; 
	padding:20px; 
	width:1090px; 
	background-color:#FF7F7F; 
	border:1px solid #FF2F2F;
	float:left;
	margin:10px 0 10px 0;
}

.Perm{
	cursor:pointer;
}

.loginBar{
	width:100%;
	height:30px;
	position:relative;
	background-color:#95AB63;
	padding:5px 0 5px 0;
	float:left;
}

.loginBarBox{
	text-align:right;
	float:left;
	padding:0 10px 0 10px;

}

.loginBox{
	border:solid;
	width:300px;
	margin:auto;
	background-color:#fff;
}

.loginHead{
	background-color:#E2F0D6;
	padding:10px;
	border-bottom:solid;
}

.foot{
	padding: 50px 0 50px 0;
	text-align:center;
	width:100%;
	font-size:9pt;
	float:left;
}

input, select, .inputOff{
	border:2px solid #ddd;
	padding:3px;
}

.inputOn{
	border:2px solid #666;
	padding:3px;
}
.tr1{
	background-color:#fff;
	vertical-align:top;
}
.tr2{
	background-color:none;
	vertical-align:top;
}

.button{
	height:30px;
	width:100px;
	text-align:center;
	border:solid 2px black;
}

.greenButton{
	background-color:#b1ffad;
}

.redButton{
	background-color:#FF7F7F;
}
