/*RESET*/

html, body, form, fieldset {
        margin: 0;
        padding: 0;
        font-family:Arial;
	font-size:11pt;
        color: #7f7f7f;
}

body{
	background-color:#fff;
}

/* Neutralize styling:
   Elements with a vertical margin: */
h1, h2, h3, h4, h5, h6, pre,
blockquote, ul, ol, dl, address {
        margin: 1em 0;
        padding: 0;
}

/* Apply left margin:
   Only to the few elements that need it: */
li, dd, blockquote {
        margin-left: 1em;
}

/* Miscellaneous conveniences: */
form label {
        cursor: pointer;
}
fieldset {
        border: none;
}
input, select, textarea {
        font-size: 100%;
        font-family: inherit;
}

.clear { line-height: 0; font-size: 0; clear:both; margin:0; padding:0; height: 1px; }

a img { border:none; outline: none; text-decoration: none; }
a:visited img { border:none; outline: none; }
a:hover img { border:none; outline: none; text-decoration:underline; }


a { border:none; outline: none; text-decoration: none; }
a:visited { border:none; outline: none; }
a:hover { border:none; outline: none; text-decoration:underline; }

img, div { behavior: url(iepngfix.htc) }

.whole{
	width:1024px;
	margin:auto;
}
.lang{
	width:884px;
	text-align:right;
	padding:10px 70px 10px 70px;
	float:left;
}
.langLink{
	float:right;
}
.homeLink{
	float:left;
}
.lang a, .lang a:visited {
	color:#000;
	font-weight:bold;
}

.head{
	background:#00ADEF;
}
.right{
	float:left;
	width:678px;
	padding-left:20px
}
.left{
	float:left;
	width:286px;
	padding-top:25px;
}
h1{
	color:#00ADEF;
	font-size:45px;
	padding-top:25px;
}
h2{
	color:#00ADEF;
}
a, a:visited{
	color:#00ADEF;
}
.line{
	height:1px;
	clear:both;
	margin:15px 0 15px 0;
	background:#00ADEF;
	line-height:1px;

}

.body{
	padding:0 20px 15px 20px;
	float:left;
}
.legal{
	padding-left:20px;	
	font-size:9px;
	display:none;
}
